@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: rgba(27, 38, 54, 1);
    color: white;
    height: 100%;
    font-family: "Nunito", sans-serif;
}

@font-face {
    font-family: "Nunito";
    src: url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 20px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #f7f4ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #e0cbcb;
      border-radius: 100vh;
      border: 3px solid #f6f7ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
    }
  }