@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: rgba(27, 38, 54, 1);
    color: white;
    height: 100%;
    font-family: "Nunito", sans-serif;
}

@font-face {
    font-family: "Nunito";
    src: url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}
